</div>
<div class="footer">  
    <div class="container">
      <div class="row">
        <p class="text-center txt-color">
          &copy; 2024 VideoKAT.  All rights reserved
        </p>
      </div>
    </div>
</div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>