<%- include('./partials/header') %>
    <div>
        <a class="navbar-brand" href="/admin-signin"><img src="logo/logo.png" class="s-img" width="80px" height="60px" alt="logo">VideoKAT</a>
    </div>
    <div class="s-container">
        <h2>Admin Sign IN</h2>
        <form action="#">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <div class="email error txt-color3"></div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <div class="password error txt-color3"></div>
            </div>
            <button type="submit" class="s-btn2">Sign In</button>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error')
        const passwordError = document.querySelector('.password.error')

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //get form values
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/admin-signin', {
                    method: 'POST',
                    body: JSON.stringify({email: email, password: password}),
                    headers: {'Content-Type': 'application/json'}
                })
                const data = await res.json()
                console.log(data)
                
                //displaying validation error
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.admin) {
                    location.assign('/admin-home')
                }
            } catch (error) {
                console.log(error)
            }
        } )
    </script>
<%- include('./partials/footer') %>