<%- include('./partials/header') %>
    <div id="success-alert" style="display: none;" class="alert alert-success alert-dismissible fade show" role="alert">
        Submitted successfully! Check email to reset password 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="error-alert" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
        Invalid Email!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="s-container">
        <h2>Forgot Password</h2>
        <form action="">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="example@gmail.com" required>
            </div>
            
            <!-- <input type="file" name="video" accept="video/*" id=""> -->
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        const successAlert = document.getElementById('success-alert');
        const errorAlert = document.getElementById('error-alert');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //get form values
            const email = form.email.value;

            try {
                const res = await fetch('/forget-password', {
                    method: 'POST',
                    body: JSON.stringify({email: email}),
                    headers: {'Content-Type': 'application/json'}
                })
                const data = await res.json()
                console.log(data)
                if (data.success) {
                    successAlert.style.display = 'block';
                }
                if (data.invalid) {
                    
                    errorAlert.style.display = 'block';
                }
            }
            catch (err) {
                
            }
        })
        
    </script>
<%- include('./partials/footer') %>