<%- include('./partials/header') %>
  <%- include('./partials/nav') %>
  <section>
    <div class="container">
      <h2>Welcome @Name</h2>
    </div>
    <div class="container content">
        <h1>Welcome to VideoKAT</h1>
        <h5>The people's video streamer</h5>
        <% if (videos.length > 0) { %>
          <% const video = videos[0]; %>
          <button type="button" class="btn btn-info s_link"><a href="/video?videoKey=<%= video.videoKey %>">Watch Video</a></button>
        <% } %>
    </div>
  </section>
      <!-- <video id="vid-Box" width="700" controls autoplay src="/stream"></video> -->
  <script>
    const videoButton = document.querySelector('#videoPlayer');

    // Add event listener for click event
    videoButton.addEventListener('click', async (e) => {
        e.preventDefault();

        const endpoint = '/videos';
        try {
            const res = await fetch(endpoint, {
                method: 'GET'
            });
            if (!res.ok) {
              console.log('Network error')
            }

            const data = await res.json();
            if (data.ok) {
                console.log(data.videos);
            }
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    });

    
  </script>
  
  
<%- include('./partials/footer') %>
